body {
    margin: 0;
}

/* shared styles */
.text-gray {
    color: #424242;
}

.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}


.primary {
    background-color: #FF900E;
    color: white;
    border-radius: 10px;
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 1.25rem;
    border-style: none;
    padding: 20px 25px;
}

.paragraphs {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.brand-name {
    font-weight: 700;
    font-size: 3rem;
}

.navlinks {
    display: flex;
    gap: 30px;
    margin-right: 50px;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related */

.banner-content {
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
}


.banner-image {
    width: 100%;
}


.teams {
    display: flex;
    /* width: 100%; */
    align-items: center;
    /* margin-top: 50px; */
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    /* width: 100%; */
}


.features-2{
    display: flex;
    /* justify-content: space-between; */
    

     gap: 140px;
}
#feature-section-title{
    border-left:5px solid #FF900E;
    padding-left: 20px;
}

.feature-card-title{
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
}

.feature-cards{
    max-width: 586px;
    height: 171px;
    border-radius: 8px;
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.25);
     padding: 15px 20px;
     /* display: flex; */
     /* justify-content: center; */
     /* flex-direction: column; */
     margin-bottom: 20px;
     
}

.secondary{
    width: 342px;
    height: 200px;
    background-color: #FF900E;
    color: white;
    border-radius: 10px;
    padding: 45px 42px;
    border-style: none;
    margin-left: -100px;
    margin-top: -200px;
}

#years{
    font-size: 4.2rem;
    font-weight: 700;
    /* margin-bottom: 15px; */
    margin-top: 20px;
}

.exp{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 10px;
}

.features-2-image img{
    width:100%;
    }



.feature {
    margin-left: 120px;
    max-width: 530px;
}

.first-2-letters {
    color: #727272;
    font-weight: 400;
}

.lastone {
    color: #FF900E;
    font-weight: 700;
}

.section-title {
    font-size: 3rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* max-width: 1440px; */
    gap: 50px;


}

.cards {
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 30px;
    height: 220px;
    width: 220px;
    text-align: center;
}

.number {
    font-size: 2.9rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 30px;
}

.name {
    font-size: 20px;
    font-weight: 500;
    color: #727272;
    margin-top: 10px;
}

#paragraphs {
    max-width: 540px;
}

.sponsor-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.sponsor-icons img {
    filter: grayscale(100%);
}


/* RESPONSIVE MEDIA QUERY FOR HEADER, NAVBAR & BANNER */

@media screen and (max-width:576px) {

    .navbar,
    .navlinks {
        flex-direction: column;
    }

    .teams {
        flex-direction: column;

    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature {
        margin: 50px;
        /* align-items: center; */
    }

    .card-container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 20px;
    }


    #paragraphs {
        text-align: center;
    }

    #section3 {
        text-align: center;
    }

    .sponsor-icons {
        grid-template-columns: 1fr;
        gap: 40px;
        justify-items: center;
    }

    .features-2{
        flex-direction: column;
    }

    .secondary{
        margin-top: 30px;
        margin-left:100px;

/* fFOR MEDIUM DEVICE */

@media screen and (max-width:992px) and (min-width:576px) {
    .teams {
        flex-direction: column;

    }

    .feature {
        margin: 20px auto;
        /* align-items: center; */
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);

    }

    .sponsor-icons {
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
        justify-items: center;
    }
}